<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.material.basic">

    <application
        android:name=".common.GirlGroupApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MapoTheme">

        <activity android:name=".materialwidget.CoordinatorLayoutActivity" />
        <activity android:name=".materialwidget.TabLayoutBasicActivity" />
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".materialbase.ElevationApplyActivity" />
        <activity android:name=".MaterialBasicWidgetList" />
        <activity android:name=".materialwidget.MaterialTextAndButtonActivity" />
        <activity android:name=".materialbase.RevealEffectActivity" />
        <activity android:name=".materialbase.RippleAnimationActivity" />
        <activity android:name=".materialbase.MaterialBasicListActivity" />
        <activity
            android:name=".materialbase.TransitionTargetActivity"
            android:theme="@style/MapoTransitionTheme" />
        <activity
            android:name=".materialbase.TransitionActivity"
            android:theme="@style/MapoTransitionTheme" />
        <activity android:name=".materialwidget.CardViewActivity" />
        <activity android:name=".materialwidget.NavigationViewDrawerActivity" />
        <activity android:name=".materialwidget.BottomNavigationViewActivity" />
        <activity android:name=".materialwidget.ViewPager2Activity" />
        <activity android:name=".materialwidget.ViewPager2WithFragmentActivity" />
        <activity android:name=".materialwidget.ViewPager2WithTabLayoutActivity" />
        <activity android:name=".RemainderListActivity" />
        <activity android:name=".remainder.DiffUtilAndSwipeRefreshActivity" />
        <activity android:name=".remainder.PreferenceSettingsOneActivity" />
        <activity android:name=".remainder.PreferenceSettingsTwoActivity"/>
        <activity
            android:name=".total.MaterialGirlGroupActivity"
            android:theme="@style/GirlGroupTheme" />
        <activity android:name=".total.GirlsMemberDetailActivity"
            android:theme="@style/GirlGroupTheme"
            android:parentActivityName=".total.MaterialGirlGroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".total.MaterialGirlGroupActivity" />
        </activity>
    </application>
</manifest>